.body {
    background: black;
    background-size: cover;
    display: grid;
    place-items: center;
    animation: fadein 1s ease-in-out;
    font-family: "JetBrains Mono", monospace;

}

.black-hole-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.black-hole {
    width: 1000px;
    height: 1000px;
    border-radius: 50%; /* 50px / 2 = 25px */
    background-color: black;
    box-shadow: 0 0 100px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff;
    animation: fadein 4s ease-in-out;
}

.star {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    transform: scale(1);
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff;
    transition: transform 0.2s ease-in-out;
    z-index: 3;
}

.star::before {
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
}

.star:hover {
    transform: scale(1.5);
}

.title {
    font-family: "JetBrains Mono", monospace;
    font-size: 50px;
    color: #fff;
    text-align: center;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 0;
    animation: fadein 3s ease-in-out;
    z-index: 2;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tooltip-title {
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    color: white;
    padding: 10px;
    font-size: 30px;
}

.tooltip-description {
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    color: white;
    font-size: 15px;
}

p {
    font-size: 20px;
}

.tippy-box[data-theme~='tooltip'] {
    background-color: #181A1B;
    color: white;
}

.arrow-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 50%;
}

.back {
    width: 100px;
    height: 100px;
    animation: fadein 6s ease-in-out;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

.back:hover {
    transform: scale(1.1);
}

.desc {
    animation: fadein 20s ease-in-out;

}