html {
    scroll-behavior: smooth;
}

p {
    cursor: default;
}

.linkImg {
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
    margin-top: 10px;
}
.linkImg:hover {
    transform: scale(1.2);
}

.pfp {
    border-radius: 50%;
    padding: 5px;
}

.title {
    transform: scale(1);
    margin: 10px;
    min-height: 30px;
}

h1 {
    margin: 3px;
    color: #f9A7FF;
}

.bioDiv {
    text-align: center;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 0;

    color: #F8F8F2;
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;

    animation: fadein 1s ease-in-out;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #282A36;
    font-family: "JetBrains Mono", monospace;
}

a {
    color: #8BE9FD;
}

.page {
    min-height: 100vh;
    background-color: #282A36;
}

h3 {
    color: #f9A7FF;
}

.spoiler {
    background-color: #44475A;
    color: transparent;
    user-select: none;
    transition: background-color 0.5s ease, color 0.5s ease;
    border-radius: 3px;
    padding: 2px;
}

.spoiler:hover {
    background-color: inherit;
    color: inherit;
}

