.linkImg {
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
    margin-top: 10px;
}
.linkImg:hover {
    transform: scale(1.2);
}

.pfp {
    border-radius: 50%;
    padding: 5px;
}

.pfp:hover {
    cursor: pointer;
}

.title {
    transform: scale(1);
    margin: 10px;
    min-height: 30px;
}
.title:hover {
    transform: scale(1.1);
    cursor: pointer;
}
h1 {
    margin: 3px;
    color: #f9A7FF;
}

.bioDiv {
    text-align: center;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 0;

    color: white;
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;

    animation: fadein 1s ease-in-out;
}

.spotify-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow: hidden;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.container {
    display: flex;
    flex-direction: column;
    background: #181A1B
}

/* Style the modal window */
.modal {
    display: none; /* Hide the modal window by default */
    position: fixed; /* Make the modal window fixed positioned */
    z-index: 1; /* Set the z-index to a high value */
    left: 0;
    top: 0;
    width: 100%; /* Set the width of the modal window to the width of the screen */
    height: 100%; /* Set the height of the modal window to the height of the screen */
    overflow: auto; /* Enable scrollbars if the content is taller than the screen */
    background-color: rgba(0, 0, 0, 0.4); /* Set the background color to a semi-transparent black */
}

/* Style the modal content */
.modal-content {
    position: relative; /* Make the content relative positioned */
    top: 50%; /* Center the content vertically */
    transform: translateY(-50%); /* Center the content vertically */
    background-color: black; /* Set the background color to white */
    border-radius: 5%;
    padding: 20px; /* Add some padding to the content */
    width: 80%; /* Set the width of the content to 80% of the screen width */
    max-width: 500px; /* Set a maximum width for the content */
    margin: 0 auto; /* Center the content horizontally */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Add a drop shadow to the content */
}

/* Style the image in the modal content */
.modal-image {
    width: 100%; /* Set the width of the image to 100% of the content width */
}
.volume-slider {
    -webkit-appearance: slider-horizontal;
    width: 100%;
    height: 15px;
    padding: 20px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.more-info {
    display: none; /* Hide the modal window by default */
    position: fixed; /* Make the modal window fixed positioned */
    z-index: 3; /* Set the z-index to a high value */
    left: 0;
    top: 0;
    /* padding-top: 12%; */
    width: 100%; /* Set the width of the modal window to the width of the screen */
    height: 100%; /* Set the height of the modal window to the height of the screen */
    overflow-y: auto; /* Enable scrollbars if the content is taller than the screen */
    background-color: rgba(0, 0, 0, 0.4); /* Set the background color to a semi-transparent black */
    animation: fadein 0.5s ease-in-out;
}

.more-info-content {
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
    position: relative; /* Make the content relative positioned */
    /* top: 50%; */ /* Center the content vertically */
    /* transform: translateY(-50%); */ /* Center the content vertically */
    background-color: black;
    border-radius: 1%;
    overflow-y: auto;
    padding: 30px; /* Add some padding to the content */
    width: 80%; /* Set the width of the content to 80% of the screen width */
    margin: 12% auto; /* Center the content horizontally */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Add a drop shadow to the content */
}

a {
    color: lightblue;
}

.spotify {
    padding-top: 20px;
}

.tippy-box[data-theme~='tooltip'] {
    background-color: #181A1B;
    color: white;
    font-family: "JetBrains Mono", monospace;
}